/* structure */
*, *:before, *:after{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* General */

html {
    font-size: 10px;
}

body {
  width: 41.1rem;
  margin: auto;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 170%;
  font-size: 1.8rem;
  color: #1F3948;
}

h1, h2, h3 {
  font-family: 'rubik', sans-serif;
  font-weight: 500;
  line-height: normal;
  color: #1F3948;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  color:#9B0656;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0 4.5rem;
  font-family: 'open sans', sans-serif;
}

.title-sections {
  border: 3px solid #E7AFB8;
  width: 18rem;
  margin-bottom: 3rem;
}

.project-info-divider {
  border: 2px solid #02547B;
  width: 35rem;
  text-align: center;
}

.ta-border {
  border: 2.5px solid #9B0656;
  width: 19.8rem;
}

.takeaway-header {
  display: flex;
  flex-direction: row;
  margin: 4rem auto 1.8rem auto;
  width: 35rem;
}

.takeaway-header > div {
  padding: 1rem;
}

/* navigation */

.navbar {
  background:#1F3948;
  position: fixed;
  width: 41.1rem;
  margin: 0;
  z-index: 5;
  height: 7rem;
}

#logo {
  height: 5rem;
  width: auto;
  padding-left: 3rem;
  padding-top: 1rem;
  display: inline-block;
}

#navbar-hamburger {
  color: #F9F9F9;
  float: right;
  font-size: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  width: auto;
}

/* Header */

.hero-hp .hp-header {
  margin-top: 12rem;
}

.hero-hp {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.hp-logo {
  text-align: center;
  padding-bottom: 3.5rem;
}

.slogan {
  padding: 0 8.4rem 6.4rem 8.4rem;
  text-align: center;
}

.hero-cs-image {
  padding-bottom: 6.1rem;
  text-align: center;
  position: relative;
  z-index: 3;
}

.dots-bg {
  position: absolute;
  z-index: 2;
  padding: 35rem 0 9.6rem 0;
}

/* View Prototype Btn */
.cs-btn {
  padding: 0 7.5rem 4rem 7.5rem;
  display: block;
  margin: 0 auto;
}

.proto-button {
  background-color: #9B0656;
  border: 3px solid #9B0656;
  border-radius: 5rem;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  cursor: pointer;
}

.btn-text {
  color: #F9F9F9;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0 4.5rem 0 4.5rem;
  font-family: 'open sans', sans-serif;
}

/* Overview */

.overview-container {
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
  margin: 0 auto;
  align-items: center;
  width: 35rem;
}

.overview-container > div {
  padding-bottom: 1rem;
  margin: 0 auto;
}

/* Project Info */

.project-info-container {
  display: grid;
  margin: 0 auto 5rem;
  grid-template-rows: 1fr;
  grid-template-areas:
  "roles"
  "roles-descrp"
  "line-1"
  "deliverables"
  "deliverables-descrp"
  "line2"
  "tools"
}

.project-info-container > div {
  text-align: center;
}

.deliverables, .tools {
  margin-top: 3rem;
}

.project-info-container > ul {
  color: #1F3948;
  margin: 2rem auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 180%;
  font-weight: 600;
  text-align: center;
}

/* Problem and Solution */

.ps-section {
  width: 35rem;
  margin: 0 auto 5rem;
}

.ps-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
  "challenge"
  "c-descrp"
  "solution"
  "s-descrp"
}

.challenge, .solution {
  text-align: center;
  margin: 0 auto 2rem;
}

.solution {
  margin-top: 3rem;
}

.solution-container {
  margin: 3rem 0 1rem 0;
  display: flex;
  flex-direction: column;
}

.solution-image {
  text-align: center;
  position: relative;
  z-index: 2;
  margin-bottom: 3rem;
}

.background-color-bg {
  background-color: #E7AFB8;
  position: absolute;
  margin-top: 1.7rem;
  height: 23.3rem;
  width: 41.1rem;
  z-index: 1;
}

/* Discovery */

.section-container > h1 {
  text-align: center;
  padding-bottom: 1rem;
  margin: 6rem auto 0 auto;
  width: 35rem;
}


.deliverables-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 35rem;
}

.deliverables-container > h2 {
  margin-top: 4rem;
}

.deliverables-container > p {
  margin: 3rem 0 4rem 0;
}

.survey-findings > h3 {
  text-align: center;
  color: #98B6CC;
}

.survey-container {
  display: grid;
  width: 35rem;
  margin: 4rem auto;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  /* grid-template-areas:
  "box1" "box2"
  "box3" "box4"
  "box5" "box6" */
}

.box1, .box2, .box3, .box4, .box5, .box6 {
  border: 0.5rem solid #02547B;
  border-radius: 5rem;
  width: 17rem;
  height: 17rem;
}

.data > h1 {
  color: #02547B;
  text-align: center;
}

.data-descrp > p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
  width: 13rem;
  margin: 0 auto;
}

.box-content1 {
  padding: 1.1rem 2rem;
}

.box-content2 {
  padding: 1rem 2rem;
}

.box-content3 {
  padding: 1rem;
}

.box-content4 {
  padding: 2.2rem;
}

.box-content5 {
  padding: 1rem 0 0 1.1rem;
}

.box-content6 {
  padding: 3.5rem 0.5rem;
}

.audience {
  margin: 0 auto;
  width: 35rem;
  text-align: center;
}

.audience > p {
  line-height: normal;
  margin-bottom: 4rem;
}

/* Case Study Buttons */

.main-cs-button {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.cs-button {
  background-color: #F9F9F9;
  border: 3px solid #9B0656;
  border-radius: 5rem;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.cs-button > .survey-btn-text {
  padding: 0 3rem;
}

/* User Research Takeways */

.takeaway-container {
  display: flex;
  flex-direction: column;
  width: 35rem;
  margin: 0 auto;
}

.bullet-list > li {
  list-style-type: disc;
  color: #9B0656;
  font-size: 3.5rem;
  margin: 2rem 0;
}

.takeaway-list {
  margin: 0 0 3rem 3rem;
}

/* Competitive Analysis */

.comp-container {
  display: grid;
  width: 35rem;
  margin: 0 auto 5rem auto;
  grid-template-rows: 1fr;
  grid-gap: 2.5rem;
  grid-template-areas:
  "comp-logo1"
  "comp-list1"
  "comp-divider1"
  "comp-logo2"
  "comp-list2"
  "comp-divider2"
  "comp-logo3"
  "comp-list3"
}

.comp-list1, .comp-list2, .comp-list3 {
  list-style-type: disc;
  color: #9B0656;
  font-size: 3.5rem;
}

.comp-list-container {
  margin-left: 3rem;
}

.comp-logo1, .comp-logo2, .comp-logo3 {
  text-align: center;
}

.cl2 {
  margin: 1.5rem 0;
}

/* User Personas */

.persona-outer-container {
  border: 0.5rem solid #02547B;
  border-radius: 5rem;
  width: 35rem;
  margin: 4rem auto;

}

.persona {
  width: 30rem;
  margin: 0 auto 5rem auto;
}

.user-persona-container {
  text-align: center;
}

.image-border > img {
  border: 0.5rem solid #02547B;
  border-radius: 5.8rem;
  margin: 4.1rem auto 2rem auto;
}

.p-headings {
  color: #9B0656;
  font-weight: 700;
}

.persona-list {
  margin: 2rem auto 2.8rem auto;
}
.persona-list > li {
  text-align: center;
}

.persona-descrp, .quote {
  text-align: left;
}

.info {
  line-height: normal;
}

.persona-descrp .descrp2 {
  margin: 2rem auto;
}
  
.quote {
  font-style: italic;
}

/* User Stories */

.stories-list {
  width: 35rem;
  margin: 4.4rem auto 2.5rem auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  /* grid-template-areas:
  "story1"
  "story2"
  "story3"
  "story4"
  "story5"
  "story6"
  "story7" */
}

.stories-list > p {
  font-weight: 400;
}

.emphasis {
  font-weight: 700;
}

.type-of-stories > p {
  color: #02547B;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 4rem;
}

/* Branding and Identity */

.branding-descrp {
  margin: 0 auto;
  width: 35rem;
}

.branding-descrp > .b-p-2 {
  margin: 2rem auto 4rem auto;
}

/* Logo Design*/

.logo-header > h2 {
  margin-top: 7rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.logo-sketch-bg {
  position: absolute;
  z-index: 1;
}

.hp-dark-bg {
  position: relative;
  margin-top: 21rem;
  text-align: center;
  z-index: 2;
}

.hp-light-bg {
  text-align: center;
}

.logo-caption > p {
  text-align: center;
  margin: 1.5rem auto 3rem;
  font-size: 1.4rem;
}

/* Color Palette */

.color-palette {
  width: 35rem;
  justify-items: center;
  align-items: center;
  margin: 3.5rem auto 2rem auto;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 6rem;
  grid-column-gap: .5rem;
  grid-template-areas:
  "color1 color2"
  "color3 color4"
  "color5 color6"
  "color7 color7"
}

.color1, .color2, .color3, .color4, .color5, .color6, .color7 {
  border-radius: 5rem;
  width: 14rem;
  height: 14rem;
}

.color1 {
  grid-area: color1;
  background-color: #E63C34;
}

.color2 {
  grid-area: color2;
  background-color: #E8E016;
}

.color3 {
  grid-area: color3;
  background-color: #277177;
}

.color4 {
  grid-area: color4;
  background-color: #333333;
}

.color5 {
  grid-area: color5;
  background-color: #050921;
}

.color6 {
  grid-area: color6;
  background-color: #B0B5AE;
}

.color7 {
  border: 0.3rem solid #1F3948;
  background-color: #FFFFFF;
  justify-content: center;
  align-content: center;
  grid-area: color7;
}

.color-type {
  margin-top: 14.5rem;
}

.color-descrp {
  width: 35rem;
  margin: 8rem auto 5.8rem auto;
}

/* Typography */

.typography-main {
  display: flex;
  flex-direction: column;
}

.typo-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  background-color: #1F3948;
  width: 41.1rem;
  padding-bottom: 17rem;
  position: absolute;
  z-index: 3;
}

.typo-explain {
  position: relative;
  z-index: 4;
  margin: 72rem auto 0 auto;
  background-color: #FFFFFF;
  border: 0.5rem solid #02547B;
  border-radius: 5rem;
  width: 35rem;
  padding: 3rem;
}

.typo-container > h2 {
  text-align: center;
  margin: 3rem auto 0 auto;
  color: #F9F9F9;
}

.font-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.font-container > p {
  color: #F9F9F9;
}

.font-type {
  margin: 3.5rem auto 1.5rem auto;
}

.archivo-black {
  font-family: 'Archivo Black', sans-serif;
  font-size: 6.4rem;
  line-height: 120%;
}

.font-fam {
  font-size: 1.4rem;
  margin: 1rem auto 2.5rem auto;
}

.opensans-font {
  font-size: 6.4rem;
  line-height: 120%;
}

.font-descrp {
  font-size: 1.6rem;
  font-weight: 500;
  width: 35rem;
  margin: 0 auto;
  text-align: left;
}

/* Wireframes */

.wire-descrp {
  margin: 3rem auto 2rem auto;
}

.wireframes-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #02547B;
  margin: 0 auto 4rem auto;
  padding: 4.5rem 0;
  text-align: center;
  grid-template-areas:
  "wireframe-sketches"
  "activity-lofi-wireframe"
  "welcomepage-lofi-wireframe"
  "dashboard-lofi"
}

.wireframe-sketches {
  grid-area: wireframe-sketches;
  margin-bottom: 3rem;
}

.caption {
  color: #F9F9F9;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
}

/* Usability Testing: Round 1 */

.deliverables-container > .usability-header {
  margin-bottom: 3rem;
}

.usability1-descrp {
  margin-bottom: 4rem;
}

.usability1-descrp > p {
  margin: 1.5rem 0;
}

.usability1-photos {
  background-color: #1F3948;
  width: 41.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
  margin-bottom: 2rem;
}

.usability1-photos > .caption {
  width: 35rem;
  margin: 1.8rem auto 4rem auto;
}

/* Preference Testing */

.preference-header {
  margin: 4rem auto 2rem auto;
}
.pref-descrp > p {
  margin: 1.5rem 0;
}

.pref-descrp > .pref-question {
  margin: 3rem auto 2rem auto;
  text-align: center;
}

.preference-images {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.preference-images > .caption {
  color: #1F3948;
  font-size: 1.4rem;
  font-weight: 600;
  width: 35rem;
  line-height: normal;
  margin: 1rem auto 3rem auto;
}

/* Usability Testing: Round 2 */

.usability2-descrp {
  margin: 3rem auto 4rem auto;
}

.usability2-descrp > .usability-changes {
  margin-top: 2rem;
  text-align: center;
}

.testing-2-images {
  display: flex;
  flex-direction: column;
  background-color: #02547B;
  justify-content: center;
  padding-top: 4rem;
  margin-bottom: 2rem
}

.testing-2-images > p {
  width: 35rem;
  margin: 1.8rem auto 4rem auto;
  text-align: center;
}

/* Final Prototype */

.final-images {
  display: flex;
  flex-direction: column;
  width: 35rem;
  margin: 7rem auto 0 auto;
  text-align: center;
}

.final-descrp {
  text-align: left;
}

.final-descrp > h2 {
  margin: 4rem auto 2rem auto;
}

.final-descrp > p {
  margin-bottom: 6rem;
}

/* Reflections */

.reflections-content {
  width: 35rem;
  margin: 6rem auto 4rem auto;
}

.reflections-subheader {
  color: #9B0656;
  font-weight: 700;
  margin: 2rem auto 1rem auto;
}

.back-to-top > p {
  color: #9B0656;
  text-align: center;
  font-weight: 700;
}

/* Footer */
footer {
  background-color: #1F3948;
  margin-top: 8rem;
  color: #F9F9F9;
}

.connect-text > h1 {
  text-align: center;
  font-size: 3.4em;
  padding-top: 3rem;
  line-height: 130%;
  color: #F9F9F9;
  font-weight: 400;
}

.sync-up > p {
  color: #F9F9F9;
  padding: 1.7rem 3rem 3.4rem 3rem;
  font-weight: 400;
  line-height: normal;
  font-size: 1.4rem;
  text-align: center;
}

.social-flex-container {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  justify-content: space-evenly;
  list-style-type: none;
}

.creator-name {
  color: #F9F9F9;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 3rem 14.2rem 4rem 14.2rem;
}
