/* structure */
*, *:before, *:after{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* General */

html {
  font-size: 10px;
}

body {
  width: 41.1rem;
  margin: auto;
}

p {
  color: #1F3948;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 170%;
  
}

h1, h2, h3 {
  color: #1F3948;
  font-family: 'rubik', sans-serif;
  font-weight: 500;
  line-height: normal;
  
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  color:#9B0656;
  font-family: 'open sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0 4.5rem;
}

.title-sections {
  border: 3px solid #E7AFB8;
  margin-bottom: 3rem;
  width: 18rem;
}

.project-info-divider {
  border: 2px solid #02547B;
  text-align: center;
  width: 35rem;
}

.ta-border {
  border: 2.5px solid #9B0656;
  width: 19.8rem;
}

.takeaway-header {
  display: flex;
  flex-direction: row;
  margin: 4rem auto 1.8rem auto;
  width: 35rem;
}

.takeaway-header > div {
  padding: 1rem;
}

/* Header */

.hero-hp .hp-header {
  margin-top: 12rem;
}

.hero-hp {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.hp-logo {
  padding-bottom: 3.5rem;
  text-align: center;
}

.slogan {
  padding: 0 8.4rem 6.4rem 8.4rem;
  text-align: center;
}

.hero-cs-image {
  padding-bottom: 6.1rem;
  position: relative;
  text-align: center;
  z-index: 3;
}

.dots-bg {
  padding: 35rem 0 9.6rem 0;
  position: absolute;
  z-index: 2;
}

/* View Prototype Btn */
.btn { 
  cursor: pointer;
  position: relative;
  width: 41.1rem;
    
}

.ptbutton {
  background-color: #9B0656;
  display: block;
  font-family: 'open sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  height: 5rem;
  margin: 0 auto 5rem auto;
  padding: 1.4rem 0;
  text-align: center;
  text-decoration: none;
  width: 26rem;
}

.btn-white { 
  border: 3px solid #9B0656; 
  border-radius: 5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color:#F9F9F9; 
}

.btn-white:hover, .btn-white:active, .btn-white:focus  {
  background-color: transparent;
  border: 3px solid #9B0656;
  color: #9B0656;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Case Study Buttons */

.csbutton {
  background-color: #F9F9F9;
  display: block;
  font-family: 'open sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  height: 5rem;
  margin: 0 auto 5rem auto;
  text-align: center;
  text-decoration: none;
  padding: 1.4rem 0;
  width: 26rem;
}

.btn-magenta { 
  color:#9B0656;
  border: 3px solid #9B0656; 
  border-radius: 5rem;
   
}

.btn-magenta:hover, .btn-magenta:active, .btn-magenta:focus  {
  background-color: #9B0656;
  border: 3px solid #9B0656;
  color: #F9F9F9;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container {
  margin: 0 auto;
  width: 35rem;
}

/* Overview */

.overview {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
}

.overview > div {
  margin: 0 auto;
  padding-bottom: 1rem;
}

/* Project Info */

.project-info-container {
  display: grid;
  margin: 0 auto 5rem;
  grid-template-rows: 1fr;
  grid-template-areas:
  "roles"
  "roles-descrp"
  "line-1"
  "deliverables-title"
  "deliverables-descrp"
  "line2"
  "tools"
}

.project-info-container > div {
  text-align: center;
}

.deliverables-title, .tools {
  margin-top: 3rem;
}

.project-info-container > ul {
  color: #1F3948;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 180%;
  margin: 2rem auto;
  text-align: center;
}

/* Problem and Solution */

.ps-section {
  margin-bottom: 4.5em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
  "challenge"
  "c-descrp"
  "solution"
  "s-descrp"
}

.challenge, .solution {
  margin: 0 auto 2rem;
  text-align: center;
}

.solution {
  margin-top: 3rem;
}

.solution-container {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 2rem 0;
}

.solution-image {
  margin-bottom: 3rem;
  position: relative;
  text-align: center;
  z-index: 2;
}

.background-color-bg {
  background-color: #E7AFB8;
  height: 23.3rem;
  margin-top: 1.7rem;
  position: absolute;
  width: 41.1rem;
  z-index: 1;
}

/* Discovery */

.section > h1 {
  margin: 6rem auto 0 auto;
  padding-bottom: 1rem;
  text-align: center;
}


.deliverables {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.deliverables > h2 {
  margin-top: 2rem;
}

.deliverables > p {
  margin: 2.5rem 0 4rem 0;
}

.survey-findings > h3 {
  color: #98B6CC;
  text-align: center;
}

.survey {
  display: grid;
  margin: 4rem auto;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  /* grid-template-areas:
  "box1" "box2"
  "box3" "box4"
  "box5" "box6" */
}

.box1, .box2, .box3, .box4, .box5, .box6 {
  border: 0.5rem solid #02547B;
  border-radius: 5rem;
  height: 17rem;
  width: 17rem;
}

.data > h1 {
  color: #02547B;
  text-align: center;
}

.data-descrp > p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  width: 13rem;
}

.box-content1 {
  padding: 1.1rem 2rem;
}

.box-content2 {
  padding: 1rem 2rem;
}

.box-content3 {
  padding: 1rem;
}

.box-content4 {
  padding: 2.2rem;
}

.box-content5 {
  padding: 1rem 0 0 1.1rem;
}

.box-content6 {
  padding: 3.5rem 0.5rem;
}

.audience > p {
  line-height: normal;
  margin-bottom: 4rem;
  text-align: center;
}

/* User Research Takeways */

.takeaway {
  display: flex;
  flex-direction: column;
}

.bullet-list > li {
  color: #9B0656;
  font-size: 3.5rem;
  list-style-type: disc;
  margin: 2rem 0;
}

.takeaway-list {
  margin: 0 0 3rem 3rem;
}

/* Competitive Analysis */

.comp {
  display: grid;
  margin: 0 auto 5rem auto;
  grid-template-rows: 1fr;
  grid-gap: 2.5rem;
  grid-template-areas:
  "comp-logo1"
  "comp-list1"
  "comp-divider1"
  "comp-logo2"
  "comp-list2"
  "comp-divider2"
  "comp-logo3"
  "comp-list3"
}

.comp-list1, .comp-list2, .comp-list3 {
  color: #9B0656;
  font-size: 3.5rem;
  list-style-type: disc;
}

.comp-list-container {
  margin-left: 3rem;
}

.comp-logo1, .comp-logo2, .comp-logo3 {
  text-align: center;
}

.cl2 {
  margin: 1.5rem 0;
}

/* User Personas */

.persona-outer {
  border: 0.5rem solid #02547B;
  border-radius: 5rem;
  margin: 4rem auto;
  width: 35rem;
}

.persona {
  margin: 0 auto 5rem auto;
  text-align: center;
  width: 30rem;
}

.image-border > img {
  border: 0.5rem solid #02547B;
  border-radius: 5.8rem;
  margin: 4.1rem auto 2rem auto;
}

.p-headings {
  color: #9B0656;
  font-weight: 700;
}

.persona-list {
  margin: 2rem auto 2.8rem auto;
}

.persona-list > li {
  text-align: center;
}

.persona-descrp, .quote {
  text-align: left;
}

.info {
  line-height: normal;
}

.persona-descrp .descrp2 {
  margin: 2rem auto;
}
  
.quote {
  font-style: italic;
}

/* User Stories */

.stories {
  display: grid;
  margin: 4.4rem auto 2.5rem auto;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  /* grid-template-areas:
  "story1"
  "story2"
  "story3"
  "story4"
  "story5"
  "story6"
  "story7" */
}

.stories > p {
  font-weight: 400;
}

.emphasis {
  font-weight: 700;
}

.type-of-stories > p {
  color: #02547B;
  font-size: 1.4rem;
  margin-bottom: 4rem;
  text-align: center;
}

/* Branding and Identity */


.branding-descrp > .b-p-2 {
  margin: 2rem auto 4rem auto;
}

/* Logo Design*/

.logo-header > h2 {
  margin-top: 3.5rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.logo-sketch-bg {
  position: absolute;
  z-index: 1;
}

.hp-dark-bg {
  margin-top: 21rem;
  position: relative;
  text-align: center;
  z-index: 2;
}

.hp-light-bg {
  text-align: center;
}

.logo-caption > p {
  font-size: 1.4rem;
  margin: 1.5rem auto 5rem;
  text-align: center;
}

/* Color Palette */

.color-palette {
  align-items: center;
  display: grid;
  justify-items: center;
  margin: 3.5rem auto 2rem auto;
  text-align: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 6rem;
  grid-template-areas:
  "color1 color2"
  "color3 color4"
  "color5 color6"
  "color7 color7"
}

.color1, .color2, .color3, .color4, .color5, .color6, .color7 {
  border-radius: 5rem;
  height: 14rem;
  width: 14rem;
}

.color1 {
  background-color: #E63C34;
  grid-area: color1;
}

.color2 {
  background-color: #E8E016;
  grid-area: color2;
  
}

.color3 {
  background-color: #277177;
  grid-area: color3;
}

.color4 {
  background-color: #333333;
  grid-area: color4;
}

.color5 {
  background-color: #050921;
  grid-area: color5;
}

.color6 {
  background-color: #B0B5AE;
  grid-area: color6;
}

.color7 {
  align-content: center;
  background-color: #FFFFFF;
  border: 0.3rem solid #1F3948;
  grid-area: color7;
  justify-content: center;  
}

.color-type {
  margin-top: 14.5rem;
}

.color-descrp {
  margin: 8rem auto 5.8rem auto;
}

/* Typography */

.typography-main {
  display: flex;
  flex-direction: column;
}

.typo-container {
  background-color: #1F3948;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding-bottom: 17rem;
  position: absolute;
  width: 41.1rem;
  z-index: 3;
}

.typo-explain {
  background-color: #FFFFFF;
  border: 0.5rem solid #02547B;
  border-radius: 5rem;
  margin: 70rem auto 0 auto;
  padding: 3rem;
  position: relative;
  z-index: 4;
}

.typo-container > h2 {
  color: #F9F9F9;
  margin: 3rem auto 0 auto;
  text-align: center;
}

.font-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.font-container > p {
  color: #F9F9F9;
}

.font-type {
  margin: 3.5rem auto 1rem auto;
}

.archivo-black {
  font-family: 'Archivo Black', sans-serif;
  font-size: 6.4rem;
  line-height: 120%;
}

.font-fam {
  font-size: 1.4rem;
  margin: 1rem auto 1rem auto;
}

.opensans-font {
  font-size: 6.4rem;
  line-height: 120%;
}

.font-descrp {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
}

/* Wireframes */

.wire-descrp {
  margin: 3rem auto 2rem auto;
}

.wireframes-container {
  background-color: #02547B;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto 3rem auto;
  padding: 4rem 0;
  text-align: center;
  grid-template-areas:
  "wireframe-sketches"
  "activity-lofi-wireframe"
  "welcomepage-lofi-wireframe"
  "dashboard-lofi"
}

.wireframe-sketches {
  grid-area: wireframe-sketches;
  margin-bottom: 3rem;
}

.caption {
  color: #F9F9F9;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
  padding-top: 0.4rem;
}

/* Usability Testing: Round 1 */

.deliverables-container > .usability-header {
  margin-bottom: 3rem;
}

.usability1-descrp {
  margin: 2rem 0 4rem 0;
}

.usability1-descrp > p {
  margin: 1.5rem 0;
}

.usability1-photos {
  background-color: #1F3948;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  padding-top: 4rem;
  width: 41.1rem;
}

.usability1-photos > .caption {
  font-weight: 500;
  line-height: normal;
  margin: 1.3rem auto 4rem auto;
  width: 35rem;
}

/* Preference Testing */

.preference-header {
  margin: 4rem auto 2rem auto;
}
.pref-descrp > p {
  margin: 1.5rem 0;
}

.pref-descrp > .pref-question {
  margin: 3rem auto 2rem auto;
  text-align: center;
}

.preference-images {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.preference-images > .caption {
  color: #1F3948;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
  margin: 1rem auto 4rem auto;
  width: 35rem;
}

/* Usability Testing: Round 2 */

.usability2-descrp {
  margin: 3rem auto 4rem auto;
}

.usability2-descrp > .usability-changes {
  margin-top: 2rem;
  text-align: center;
}

.testing-2-images {
  background-color: #02547B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  padding-top: 4rem;
}

.testing-2-images > p {
  margin: 1rem auto 4rem auto;
  text-align: center;
  width: 35rem;
}

/* Final Prototype */

.final-prototype {
  margin-top: -1rem;
}

.final-images {
  display: flex;
  flex-direction: column;
  margin: 6rem auto 0 auto;
  text-align: center;
}

.final-descrp {
  text-align: left;
}

.final-descrp > h2 {
  margin: 4rem auto 2rem auto;
}

.final-descrp > p {
  margin-bottom: 6rem;
}

/* Reflections */

.reflections-content {
  margin: 6rem auto 4rem auto;
}

.reflections-subheader {
  color: #9B0656;
  font-weight: 700;
  margin: 2rem auto 1rem auto;
}

.back-to-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-to-top > p {
  color: #9B0656;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 0.5rem;
  text-align: center;
}

/* Footer */
footer {
  background-color: #1F3948;
  color: #F9F9F9;
  margin-top: 8rem;
}

.connect-text > h1 {
  color: #F9F9F9;
  font-size: 3.4em;
  font-weight: 400;
  line-height: 130%;
  padding-top: 3rem;
  text-align: center;
}

.sync-up > p {
  color: #F9F9F9;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  padding: 1.7rem 3rem 3.4rem 3rem;
  text-align: center;
}

.social-flex-container {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  justify-content: space-evenly;
  list-style-type: none;
}

.creator-name {
  color: #F9F9F9;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 3rem 14.2rem;
}

/* Navigation */

.navbar {
  background-color: #1F3948;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  height: 7rem;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
}

#logo {
  display: inline-block;
  height: 5rem;
  padding-left: 3rem;
  padding-top: 1rem;
  width: auto;
  z-index: 3;
}

.desktop-menu {
    display: none;
}

/* Hamburger-Menu */

.menu-wrap {
  display: inline-block;
  margin-left: -7.8rem; 
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu-wrap .toggler {
  cursor: pointer;
  height: 5rem;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 5rem;
  z-index: 2;
} 

.menu-wrap .hamburger {
  align-items: center;
  background: #1F3948;
  display: flex;
  height: 7rem;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 5rem;
  z-index: 1; 
} 

/* hamburger line */

.menu-wrap .hamburger > div {
  align-items: center;
  background-color: #F9F9F9;
  display: flex;
  height: 0.3rem;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
  width: 100%;
}
/* Hamburger lines - Top and Bottom */

 .menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  background: inherit;
  content: '';
  height: 0.3rem;
  position: absolute;
  top: -1rem;
  width: 100%;
  z-index: 1;
} 

/* Moves line down */
.menu-wrap .hamburger > div:after {
  top: 1rem;
} 

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* Turns lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
} 

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
} 

/* Show menu */

.menu-font {
  color: #F9F9F9;
  font-size: 2.8rem;
}

.menu-font:hover {
  color: #E7AFB8;
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75x;
} 

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.menu-wrap .menu > div {
  align-items: center;
  background: #1F3948;
  display: flex;
  flex: none;
  height: 100%;
  justify-content: center;
  opacity: 0.9;
  transform: scale(0);
  transition: all 0.4s ease;
  width: 100%;
}

.menu-wrap .menu > div > div {
  max-width: 100%;
  max-height: 100vh;
  opacity: 0;
  text-align: center;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  color: #F9F9F9;
  font-size: 1.5rem;
  list-style: none;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4 ease;
}

