/* structure */
*, *:before, *:after{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

/* Hero Section */

body {
    margin: auto;
    width: 41.1rem;
}
.showcase {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.showcase .inner {
    background-color: #1F3948;
    color: #F9F9F9;
    margin-top: 12rem;
    padding: 5rem 5rem 5rem 3rem;
    position: relative;
    width: 100%;
    z-index: 2;
}

.container-showcase-bg {
    position: absolute;
    top: 41rem;
    z-index: 1;
}

.container-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20rem;
    position: relative;
    z-index: 2;
}

.bounce {
    -moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;    
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.inner > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 7.2rem;
    font-weight: 500;
}

h1 > .announce {
    color: #E7AFB8;
    line-height: 130%;
}

h2 {
    color: #02547B;
    font-family: 'rubik', sans-serif;
    font-kerning: auto;
    font-size: 4.8rem;
    font-weight: 500;
}

h3 {
    font-family: 'rubik', sans-serif;
    font-size: 3.4em;
    line-height: 130%;
    padding-top: 3rem;
}

h4 {
    color: #1F3948;
    font-family: 'open sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 190%;
    text-align: center; 
}

p {
    color: #1F3948;
    font-family: 'open sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 170%;
}

/* Projects */

.projects-container {
    background-color: #91B7CF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30rem auto 0 auto;
}

.project-image1 {
   height: 100%;
   padding: 5rem 3rem 5rem 3rem;
   margin: 0 auto;
   width: auto;
}


.project-title {
    height: 100%;
    padding: 0 4.8rem 1.2rem 3rem;
}

.project-descrp {
    height: 100%;
    padding: 1rem 3rem 4.3rem 3rem;
}

.btn { 
    cursor: pointer;
    position: relative;
    width: 41.1rem;
}

.csbutton {
    background-color: #9B0656;
    display: block;
    font-family: 'open sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    height: 5rem;
    margin: 0 auto 5rem auto;
    padding: 1.4rem 0;
    text-align: center;
    text-decoration: none;
    width: 26rem;
}

.btn-white { 
    border: 3px solid #9B0656; 
    border-radius: 5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:#F9F9F9; 
}

.btn-white:hover, .btn-white:active, .btn-white:focus  {
    background-color: transparent;
    border: 3px solid #9B0656;
    color: #9B0656;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

/* Footer */

footer {
    background-color: #1F3948;
    color: #F9F9F9;
    margin-top: 9rem;
}

.connect-text {
    text-align: center;
}

.sync-up > h4 {
    color: #F9F9F9;
    font-weight: 400;
    line-height: normal;
    padding: 1.7rem 3rem 3.4rem 3rem;
}

.social-flex-container {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    justify-content: space-evenly;
    list-style-type: none;
}

.creator-name {
    color: #F9F9F9;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 3rem 14.2rem 4rem 14.2rem;
}

/* Navigation */

.navbar {
    background-color: #1F3948;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    height: 7rem;
    margin: 0;
    position: fixed;
    width: 41.1rem;
    z-index: 5;
}

#logo {
    display: inline-block;
    padding-left: 3rem;
    padding-top: 1rem;
    height: 5rem;
    width: auto;
    z-index: 3;
}

/* Hamburger-Menu */

.menu-wrap {
    display: inline-block;
    margin-left: -7.8rem; 
    position: fixed;
    width: 41.1rem;
    z-index: 1;
}

.menu-wrap .toggler {
    cursor: pointer;
    height: 5rem;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 5rem;
    z-index: 2;
} 

.menu-wrap .hamburger {
    align-items: center;
    background: #1F3948;
    display: flex;
    height: 7rem;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 5rem;
    z-index: 1; 
} 

/* hamburger line */

.menu-wrap .hamburger > div {
    align-items: center;
    background-color: #F9F9F9;
    display: flex;
    height: 0.3rem;
    justify-content: center;
    position: relative;
    transition: all 0.4s ease;
    width: 100%;
}
/* Hamburger lines - Top and Bottom */

 .menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    background: inherit;
    content: '';
    height: 0.3rem;
    position: absolute;
    top: -1rem;
    width: 100%;
    z-index: 1;
} 

/* Moves line down */
.menu-wrap .hamburger > div:after {
    top: 1rem;
} 

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
/* Turns lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
} 

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
} 

/* Show menu */

.menu-font {
  color: #F9F9F9;
  font-size: 2.8rem;
}

.menu-font:hover {
  color: #E7AFB8;
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75x;
} 

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
}

.menu-wrap .menu > div {
    align-items: center;
    background: #1F3948;
    display: flex;
    flex: none;
    height: 100%;
    justify-content: center;
    opacity: 0.9;
    transform: scale(0);
    transition: all 0.4s ease;
    width: 41.1rem;
}

.menu-wrap .menu > div > div {
    max-width: 41.1rem;
    max-height: 100vh;
    opacity: 0;
    text-align: center;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    color: #F9F9F9;
    font-size: 1.5rem;
    list-style: none;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4 ease;
}

