/* -------------STRUCTURE------------------ */
/* -------------STRUCTURE------------------ */
/* -------------STRCUTURE------------------ */
*, *:before, *:after{
  box-sizing: border-box;
}


html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
}


/* -------------GENERAL------------------ */
/* -------------GENERAL------------------ */
/* -------------GENERAL------------------ */

strong {
    font-weight: 800;
}

p {
  color: #1F3948;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 170%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6.4rem;
    font-weight: 500;
}

h2 {
    color: #1F3948;
    font-family: 'rubik', sans-serif;
    font-kerning: auto;
    font-size: 4.2rem;
    font-weight: 500;
}


h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 1.5em;   
}

h4 {
    color: #1F3948;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 120%; 
}

h5 {
    color: #1F3948;
    font-size: 2.4rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 140%;
}

/* ---------UNIVERSAL NAVIGATION------------ */
/* ---------UNIVERSAL NAVIGATION------------ */
/* ---------UNIVERSAL NAVIGATION------------ */

.navbar {
  background-color: #1F3948;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  height: 7rem;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 5;
}

#logo {
    display: inline-block;
    padding-left: 2rem;
    padding-top: 1rem;
    height: 5rem;
    width: auto;
    z-index: 3;
}

.desktop-menu {
    display: none;
}

/* Hamburger-Menu */

.menu-wrap {
  display: inline-block;
  margin-left: -6.5rem; 
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu-wrap .toggler {
  cursor: pointer;
  height: 5rem;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 5rem;
  z-index: 2;
} 

.menu-wrap .hamburger {
  align-items: center;
  background: #1F3948;
  display: flex;
  height: 7rem;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 5rem;
  z-index: 1; 
} 

/* hamburger line */

.menu-wrap .hamburger > div {
  align-items: center;
  background-color: #F9F9F9;
  display: flex;
  height: 0.3rem;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
  width: 100%;
}
/* Hamburger lines - Top and Bottom */

 .menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  background: inherit;
  content: '';
  height: 0.3rem;
  position: absolute;
  top: -1rem;
  width: 100%;
  z-index: 1;
} 

/* Moves line down */
.menu-wrap .hamburger > div:after {
  top: 1rem;
} 

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* Turns lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
} 

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
} 

/* Show menu */

.menu-font {
  color: #F9F9F9;
  font-size: 2.8rem;
}

.menu-font:hover {
  color: #E7AFB8;
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75x;
} 

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.menu-wrap .menu > div {
  align-items: center;
  background: #1F3948;
  display: flex;
  flex: none;
  height: 100%;
  justify-content: center;
  opacity: 0.9;
  transform: scale(0);
  transition: all 0.4s ease;
  width: 100%;
}

.menu-wrap .menu > div > div {
  max-width: 100%;
  max-height: 100vh;
  opacity: 0;
  text-align: center;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  color: #F9F9F9;
  font-size: 1.5rem;
  list-style: none;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4 ease;
}

/* --------------UNIVERSAL FOOTER--------------- */
/* --------------UNIVERSAL FOOTER--------------- */
/* --------------UNIVERSAL FOOTER--------------- */

footer {
  background-color: #1F3948;
  color: #F9F9F9;
  margin-top: 8rem;
}

.connect-text > h2 {
  color: #F9F9F9;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 130%;
  padding-top: 3rem;
  text-align: center;
}

.sync-up > p {
  color: #F9F9F9;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: normal;
  padding: 1.7rem 3rem 3.4rem 3rem;
  text-align: center;
}

.social-flex-container {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  justify-content: space-evenly;
  list-style-type: none;
}

.creator-name {
  color: #F9F9F9;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 3rem 0;
  text-align: center;
}

/* -------------BUTTONS--------------- */
/* -------------BUTTONS--------------- */
/* -------------BUTTONS--------------- */

.btn { 
    cursor: pointer;
    position: relative;
    /* width: 100%; */
}

.ptbutton {
    background-color: #9B0656;
    display: block;
    font-family: 'open sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    height: 5rem;
    margin: 0 auto 5rem auto;
    padding: 1.4rem 0;
    text-align: center;
    text-decoration: none;
    width: 26rem;
}

.btn-white { 
    border: 3px solid #9B0656; 
    border-radius: 5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:#F9F9F9; 
}

.btn-white:hover, .btn-white:active, .btn-white:focus  {
    background-color: transparent;
    border: 3px solid #9B0656;
    color: #9B0656;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
/* Case Study Buttons */

.csbutton {
  background-color: #F9F9F9;
  display: block;
  font-family: 'open sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  height: 5rem;
  margin: 0 auto 5rem auto;
  text-align: center;
  text-decoration: none;
  padding: 1.4rem 0;
  width: 26rem;
}

.btn-magenta { 
  color:#9B0656;
  border: 3px solid #9B0656; 
  border-radius: 5rem;
   
}

.btn-magenta:hover, .btn-magenta:active, .btn-magenta:focus  {
  background-color: #9B0656;
  border: 3px solid #9B0656;
  color: #F9F9F9;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Back To Button */
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/* ----------------------HOMEPAGE--------------------------- */
/* ----------------------HOMEPAGE--------------------------- */
/* ----------------------HOMEPAGE--------------------------- */

.showcase {
  padding-top: 14rem;
  background: url("../images/background5.png");
  /* height: 85%; */
  width: 100%;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}


.showcase .inner {
    background-color: #1F3948;
    color: #F9F9F9;
    margin-bottom: 5em;
    z-index: 2;
    width: 100%;
    height: 30%;
    padding: 4rem 3rem;
}

h1 > .announce {
    color: #E7AFB8;
    line-height: 1.5em;
}

.inner h3 {
  color: #F9F9F9;
  font-size: 2.8rem;
  line-height: 140%;
  margin-top: 3rem; 
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.container-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* top: 12rem; */
    padding-top: 7rem;
    /* position: relative; */
    z-index: 2;
}

.container-arrow > p {
    color: #1F3948;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 1rem;
    text-align: center;
}

.bounce {
  -moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;    
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* Projects */

#projects {
    background-color: #91B7CF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
}

.project-content {
  margin: 3rem auto 0rem;
}


.hp-solution {
    margin-bottom: 2.5rem;
    width: 85%;
    height: auto;
}



.project-title > h2 {
    color: #02547B;
    text-align: left;

}
.project-title {
    padding: 0 3rem;
}

.project-descrp {
    height: auto;
    width: 100%;
    padding: 1rem 3rem 3rem 3rem;
}

.project-descrp > p {
    color: #1F3948;
    text-align: left;
}

.project-info-wrap .ptbutton {
  margin-left: 3rem;
}
/* -----------------------ABOUT------------------------- */
/* -----------------------ABOUT------------------------- */
/* -----------------------ABOUT------------------------- */

.bio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "bio"
    "essay";
}

.box {
    background-color: #1F3948;
}

/* Hero Section */

.hero-wrap {
    color: #F9F9F9;
    display: flex;
    flex-direction: column;
    margin-top: 14rem;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

/* .background-mobile {
  overflow: hidden;
} */

.hero > h1 {
    color: #E7AFB8;
    line-height: 120%;
    margin: 5rem 0 2rem 0;
    text-align: left;
}

.hero h3 {
  font-size: 2.8rem;
}

.desktop-me {
    max-width: 100%;
    max-height: auto;
    margin: 3.5rem auto 7rem auto;
}

.emphasis, .aboutme > div > .aboutme-sub {
    color: #91B7CF;
}


/* About Me */

.essay {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.aboutme {
    display: grid;
    margin: 4.5rem auto;
    padding: 4rem 0;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
    grid-template-areas:
    "section1"
    "section2"
    "section3"
    "section4";
}

.aboutme > div > .aboutme-sub, .aboutme > div > p > .emphasis {
    font-size: 2.4rem;
}

.aboutme > div > p {
    color: #F9F9F9;
}

.section3 > .sec3v2 {
    margin: 1.5rem auto;
}

.section4 > .sec4v2 {
    margin-top: 1.5rem
}

.aboutme > .section2 > h4 {
    margin-bottom: 1rem;
}

.aboutme > .section3 > h4 {
    margin-bottom: 1rem;
}

.aboutme > .section4 > h4 {
    margin-bottom: 1rem;
}

.container2 {
    width: 85%;
    margin: 0 auto;
}

/* -------------CONTACT------------------ */
/* -------------CONTACT------------------ */
/* -------------CONTACT------------------ */
.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "form"
}

.header-bg {
    display: flex;
    flex-direction: column;
    /* margin-top: 12rem; */
}

.header1 > h1 {
    color: #9B0656;
    font-size: 4.8rem;
    margin: 12rem auto 2rem 0rem;
}

.header1 > h5 {
    font-weight: 400;
    margin-bottom: 3rem;
}

/* Contact Form */

.contact label {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.contact form {
    width: 100%;
}

.contact textarea, .contact input {
    width: 100%;
   	height: 4.2rem;
   	background: #F9F9F9;
   	border: 1.5px solid #1F3948;
   	padding: 1rem;
    margin-top: 0.5rem;
    font-family: "Open Sans", sans-serif;
   	font-size: 1.3em;
     -moz-border-radius:9px;
     -webkit-border-radius:9px;
     border-radius: 0.5rem;
}

.contact textarea {
   	height: 20rem;
    margin-bottom: 2rem;
}
.contact .btn {
    background-color: #9B0656;
    border: 3px solid #9B0656;
    border-radius: 5rem;
    color: #F9F9F9;
    display: block;
    font-family: 'open sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    height: 5rem;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 26rem;
}

.contact .btn:hover, .contact .btn:active, .contact .btn:focus {
    background-color: transparent;
    border: 3px solid #9B0656;
    color: #9B0656;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

/* ---------------------------HEALTHPOINT---------------------------- */
/* ---------------------------HEALTHPOINT---------------------------- */
/* ---------------------------HEALTHPOINT---------------------------- */

/* General */


.title-sections {
  border: 3px solid #E7AFB8;
  margin-bottom: 3rem;
  width: 18rem;
}

.project-info-container .project-info-divider {
  border: 2px solid #02547B;
  text-align: center;
  width: 85%;
}

.comp .project-info-divider {
  border: 2px solid #02547B;
  text-align: center;
  width: 100%;
}


/* Takeaways */

.takeaway-header > div {
  padding-top: 1rem;
  padding-left: 1rem;
  width: 100%;
}

.ta-border {
  border: 2.5px solid #9B0656;
}

.takeaway-header {
  display: flex;
  flex-direction: row;
  margin: 4rem auto 2rem auto;
  width: 90%;
}

.takeaway-header > div {
  padding: 1rem;
}

.takeaway {
  display: flex;
  flex-direction: column;
}

.takeaway > div > p{
    padding-left: 0.2rem;
}

.bullet-list > li {
  color: #9B0656;
  font-size: 3.5rem;
  list-style-type: disc;
  margin: 2rem 0;
}

.takeaway-list {
  margin: 0 0 3rem 3rem;
}

/* Header */

.hero-hp .hp-header {
  margin-top: 12rem;
}

.hero-hp {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.hp-logo1 {
  padding-bottom: 3.5rem;
  text-align: center;
}

.hp-logo {
  width: 70%;
  height: auto;
}

.slogan {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.desktop-solution {
  display: none;
}


.dots-bg {
  background: url("../images/1440Dots.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 5rem 0;
  position: relative;
  z-index: 2;
} 

.hero-cs-image {
 text-align: center;
} 

.mobile-cs-image {
  width: 60%;
  height: auto;
}

/* Overview */

.overview {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
}

.overview > div {
  margin: 0 auto;
  padding-bottom: 1rem;
}

/* Project Info */

.project-info-container {
  display: grid;
  margin: 0 auto 5rem;
  grid-template-rows: 1fr;
  grid-template-areas:
  "roles"
  "roles-descrp"
  "line-1"
  "deliverables-title"
  "deliverables-descrp"
  "line2"
  "tools";
}

.deliverables-descrp {
  list-style-type: none;
}

.project-info-container > div {
  text-align: center;
}

.deliverables-title, .tools {
  margin-top: 3rem;
}

.project-info-container > div > ul, .project-info-container > div > .deliverables-descrp, .project-info-container > .design-tools {
  color: #1F3948;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 180%;
  margin: 2rem auto;
  text-align: center;
}

/* Problem and Solution */

.ps-section {
  margin-bottom: 4.5em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
  "challenge"
  "c-descrp"
  "solution"
  "s-descrp";
}

.challenge, .solution {
  margin: 0 auto 2rem;
  text-align: center;
}

.solution {
  margin-top: 3rem;
}

.solution-container {
  background-color: #E7AFB8;
  /* display: flex;
  flex-direction: column; */
  /* margin: 3rem 0 2rem 0; */
}

.solution-image {
  margin-bottom: 3rem;
  padding: 2rem 0;
  position: relative;
  text-align: center;
  z-index: 2;
}

.solution-screens {
  width: 85%;
  height: auto;
} 

/* .background-color-bg {
  background-color: #E7AFB8;
  height: 32%;
  margin-top: 1.7rem;
  position: absolute;
  width: 100%;
  z-index: 1;
} */

/* Discovery */

.section > h2 {
  margin: 12rem auto 0 auto;
  padding-bottom: 1rem;
  text-align: center;
}


.deliverables, .deliverables1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.deliverables1 > h4 {
  margin-top: 4rem;
}

.deliverables1 > p {
  margin: 2.5rem 0 4rem 0;
}

.deliverables > h4 {
  margin-top: 9rem;
}

.deliverables > p {
  margin: 2.5rem 0 4rem 0;
}

.survey-findings > h5 {
  color: #98B6CC;
  text-align: center;
}

.survey {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 3rem auto 1rem auto;
  width: 60%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
  "box1" "box2"
  "box3" "box4"
  "box5" "box6"
}

.box1, .box2, .box3, .box4, .box5, .box6 {
  border: 0.5rem solid #02547B;
  border-radius: 5rem;
  height: 16rem;
  width: 16rem;
}

.data > h3 {
  color: #02547B;
  font-family: 'rubik', sans-serif;
  line-height: normal;
  text-align: center;
}

.data-descrp > p {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  width: 12rem;
}

.box-content1 {
  padding: 1.1rem 2rem;
}

.box-content2 {
  padding: 1rem 2rem;
}

.box-content3 {
  padding: 1rem;
}

.box-content4 {
  padding: 2.2rem;
}

.box-content5 {
  padding: 1rem 0 0 1.1rem;
}

.box-content6 {
  padding: 3.5rem 0.5rem;
}

.audience > p {
  line-height: normal;
  margin-bottom: 4rem;
  text-align: center;
}

/* Competitive Analysis */
.deliverables > .comp-header {
  margin-top: 6rem;
}

.google-fit, .dropbox-wrap, .jefit-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 4rem;
}

.google-fit {
  grid-area: google-fit;
}

.dropbox-wrap {
  grid-area: dropbox-wrap;
}

.jefit-wrap {
  grid-area: jefit-wrap;
}

.comp-list1, .comp-list2, .comp-list3 {
  color: #9B0656;
  font-size: 3.5rem;
  list-style-type: disc;
}

.comp-list-container {
  margin-left: 3rem;
}

.comp-logo1, .comp-logo2, .comp-logo3 {
  text-align: center;
  margin: 2rem 0;
}

.cl2 {
  margin: 1.5rem 0;
}

.googlefitlogo, .jefitlogo, .dropboxlogo{
  height: auto;
  max-width: 55%;
}

.dropboxlogo {
  margin-top: 1.5rem;
}


/* User Personas */

.deliverables > .persona-header {
  margin-top: 5rem;
}

.persona-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-areas:
  "persona-outer1"
  "persona-outer2";
}

.persona-outer1 {
  grid-area: persona-outer1;
}

.persona-outer2 {
  grid-area: persona-outer2;
}

.persona-outer1, .persona-outer2 {
  border: 0.5rem solid #02547B;
  border-radius: 5rem;
  margin: 3rem auto 0.5rem auto;
  
}

.persona {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.2rem;
  text-align: center;
  grid-template-areas: 
  "persona-image"
  "persona-name"
  "personal-list"
  "persona-descrp"
  "quote";
}

.image-border > img {
  border: 0.5rem solid #02547B;
  border-radius: 5.8rem;
  margin: 4.1rem auto 2rem auto;
}

.p-headings {
  color: #9B0656;
  font-weight: 700;
}

.persona-list {
  margin: 2rem auto 1rem auto;
}

.persona-descrp, .quote {
  text-align: left;
}

.info {
  line-height: normal;
}

.persona-descrp {
  padding: 2.5rem;
}

.persona-descrp > .descrp2 {
  margin-top: 1.5rem;
}
  
.quote {
  font-style: italic;
  margin: 1.5rem auto;
}

/* User Stories */

.desktop-userstories {
  display: none;
}

.stories {
  display: grid;
  margin: 4.4rem auto 2.5rem auto;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  grid-template-areas:
  "story1"
  "story2"
  "story3"
  "story4"
  "story5"
  "story6"
  "story7";
}

.stories > p {
  font-weight: 400;
}

.emphasis1 {
  font-weight: 700;
}

.type-of-stories > p {
  color: #02547B;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* User Flows */

.user-story-example {
    display: none;
}
.user-flow-wrap {
  display: none;
}

.user-flow {
    display: none;
}

/* Branding and Identity */

.branding-descrp > .b-p-2 {
  margin: 2rem auto 4rem auto;
}

/* Logo Design*/

.logo-header > h4 {
  margin-top: 5rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.sketchbg {
  position: absolute;
  width: 100%;
  height: 25rem;
  z-index: 1;
}

.hp-dark-bg, .hp-light-bg {
  text-align: center;
}

.darkbglogo {
  margin-top: 15rem;
  position: relative;
  max-width: 70%;
  height: auto;
  z-index: 2;
}

.lightbglogo {
  text-align: center;
  max-width: 70%;
  height: auto;
}

.logo-caption > p {
  font-size: 1.4rem;
  margin: 1rem auto 3rem auto;
  text-align: center;
}

/* Color Palette */

.color-palette1, .color-palette2 {
  align-items: center;
  display: grid;
  justify-items: center;
  text-align: center;
  width: 35rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 6rem;
}

.color-palette1 {
    margin: 3.5rem auto 2rem auto;
    grid-template-areas:
    "color1 color2"
    "color3 color4";
}
.color-palette2 {
  margin: 6rem auto 2rem auto;
  grid-template-areas:
  "color5 color6"
  "color7 color7";
}

.color1, .color2, .color3, .color4, .color5, .color6, .color7 {
  border-radius: 5rem;
  height: 14rem;
  width: 14rem;
}

.color1 {
  background-color: #E63C34;
  grid-area: color1;
}

.color2 {
  background-color: #E8E016;
  grid-area: color2;
  
}

.color3 {
  background-color: #277177;
  grid-area: color3;
}

.color4 {
  background-color: #333333;
  grid-area: color4;
}

.color5 {
  background-color: #050921;
  grid-area: color5;
}

.color6 {
  background-color: #B0B5AE;
  grid-area: color6;
}

.color7 {
  align-content: center;
  background-color: #FFFFFF;
  border: 0.3rem solid #1F3948;
  grid-area: color7;
  justify-content: center;  
}

.color-type {
  margin-top: 14.5rem;
}

.color-descrp {
  margin: 8rem auto 5.8rem auto;
}

/* Typography */

.typography-main {
  display: flex;
  flex-direction: column;
}

.typo-container {
  background-color: #1F3948;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.font-wrap {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding-bottom: 17rem;
}

.typo-explain {
  background-color: #FFFFFF;
  border: 0.5rem solid #02547B;
  border-radius: 5rem;
  margin: 70rem auto 0 auto;
  padding: 3rem;
  position: relative;
  z-index: 4;
}

.typo-container > h4 {
  color: #F9F9F9;
  margin: 3rem auto 0 auto;
  text-align: center;
}

.font-container1, .font-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.font-container1 > p, .font-container2 > p  {
  color: #F9F9F9;
}

.font-type {
  margin: 3.5rem auto 1rem auto;
}

.archivo-black {
  font-family: 'Archivo Black', sans-serif;
  font-size: 6.4rem;
  line-height: 120%;
}

.font-fam {
  font-size: 1.4rem;
  margin: 1rem auto 1rem auto;
}

.opensans-font {
  font-size: 6.4rem;
  line-height: 120%;
}

.font-descrp {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 auto;
  text-align: left;
  width: 80%;
  
}

/* Wireframes */

.wire-descrp {
  margin: 3rem auto 2rem auto;
}

.wireframe-sketches {
  text-align: center;
  padding-top: 3rem;
}

.wireframesketches {
  width: 85%;
  height: auto;
}

.wireframes-container {
  background-color: #02547B;
}

.wireframes-images {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  text-align: center;
}

.caption {
  color: #F9F9F9;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-top: 0.4rem;
}

/* Usability Testing: Take 1 */
.deliverables > .usability-header {
    margin-top: 7rem;
}

.deliverables-container > .usability-header {
  margin-bottom: 3rem;
}

.usability1-descrp {
  margin: 2rem 0 4rem 0;
}

.usability1-descrp > p {
  margin: 2rem 0;
}

.usability1-bg {
  background-color: #1F3948;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}

.usability-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem auto;
  width: 30%;
}

.caption {
  line-height: normal;
  margin: 1.3rem auto 4rem auto;
  text-align: center;
  width: 33rem;
}


/* Preference Testing */

.preference-header {
  margin: 4rem auto 2rem auto;
}
.pref-descrp > p {
  margin: 1.5rem 0;
}

.pref-descrp > .pref-question {
  margin: 3rem auto;
  text-align: center;
}

.pref1image, .pref2image {
  height: auto; 
  margin: 0 3rem;
  width: 85%;
}

.preference-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.preference-images > .pref1 > .caption, .preference-images > .pref2 > .caption {
    color: #1F3948;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
    margin: 1rem auto 4rem auto;
    text-align: center;
    /* width: 85%; */
}

/* Usability Testing: Take 2 */

.deliverables > .usability2-header {
    margin-top: 5rem;
}

.usability2-descrp {
    margin: 3rem auto 4rem auto;
}

.usability2-descrp > .usability-changes {
    margin-top: 2rem;
    text-align: left;
}

.usability2-wrap {
  background-color: #02547B;
  width: 100%;
}

.testing-2-images {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    text-align: center;
    /* width: 55%; */
}

.Round2image1, .Round2image2 {
    /* height: auto; */
    margin: 0 auto;
    text-align: center;
    width: 85%;
   
}
.usabilityR2image1 {
  padding-top: 4rem;
}

.testing-2-images > div > p {
  margin: 1rem auto 4rem auto;
  text-align: center;
  width: 90%
}

/* Final Prototype */

.final-prototype {
  margin-top: -1rem;
}

.final-prototype > div > .final-header {
  margin-top: 5rem;
}

.final-images {
  display: flex;
  flex-direction: column;
  margin: 6rem auto 0 auto;
  text-align: center;
}

.maindashboard-image, .analytics-final, .goals-image-phone {
  max-width: 55%;
  height: auto;
}
.final-descrp1, .final-descrp2, .final-descrp3 {
  text-align: left;
}

.final-descrp1 > h4, .final-descrp2 > h4, .final-descrp3 > h4 {
  margin: 4rem auto 2rem auto;
}

.final-descrp1 > p, .final-descrp2 > p, .final-descrp3 > p {
  margin-bottom: 6rem;
}

/* Reflections */

.reflections-content {
  margin: 6rem auto 4rem auto;
}

.reflections-subheader {
  color: #9B0656;
  font-weight: 700;
  margin: 2rem auto 1rem auto;
}

.break-lessons {
  margin-top: 1.5rem;
}
.back-to-top {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;
}

.back-link {
  color: #9B0656;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 0.75rem;
  text-decoration: none;
} 



/* ----------------------Media Queries / Responsive Design -------------------------*/
/* ----------------------Media Queries / Responsive Design -------------------------*/
/* ----------------------Media Queries / Responsive Design -------------------------*/
@media screen and (min-width: 555px) and (max-width: 686px) {


.showcase {
  padding-top: 15rem;
  /* background: url("../images/background5.png"); */
  /* height: 85%; */
  width: 100%;
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; */
}


.showcase .inner {
    background-color: #1F3948;
    color: #F9F9F9;
    margin-bottom: 6em;
    /* margin-top: 16rem; */
    /* padding: 5rem 5rem 5rem 3rem; */
    /* position: relative; */
    
  height: 48rem;
  padding: 5rem;
}

.inner h3, .hero h3 {
  font-size: 3.6rem;
}


.project-info-wrap {
  margin: 2.5rem;
}


.hp-solution {
    margin-bottom: 2.5rem;
    width: 80%;
    height: auto;
}
}
/*---------------------- For Tablets ---------------------*/
/*---------------------- For Tablets ---------------------*/

@media screen and (min-width: 687px) {
.inner h3, .hero h3 {
  font-size: 3.6rem;
}

.container {
  margin: 0 auto;
  width: 75%;
}
/* Navigation */

.navbar {
    height: 8.5rem;
}

#logo {
    padding: 2rem 0 2rem 4rem;
}

/* Footer */

.social-flex-container {
    width: 100%;
    justify-content: center;
}

br {
  display: none;
}

.sync-up > p {
  margin: 0 auto;
  max-width: 50%;
}

.social-flex-container > li > a > img {
    padding: 0 2rem;
}

/* Hamburger Menu */

.menu-wrap .hamburger {
    display: none;
}

.menu-wrap .toggler {
    display: none;
}

.menu-wrap .menu {
    display: none;
}

.desktop-menu {
    display: inline-block;
    position: fixed;
    width: 90%;
    z-index: 1;
}

.desktop-menu > .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 3rem 0;
    
}

.menu-font-desktop {
    color: #F9F9F9;
    font-size: 1.6rem;
    padding: 0 2.5rem;
}

.menu-font-desktop:hover {
    color: #E7AFB8;
}

.desktop-menu > ul > li > a {
    text-decoration: none;
}

/* -----------------HOMEPAGE---------------- */
/* -----------------HOMEPAGE---------------- */
/* -----------------HOMEPAGE---------------- */
.showcase {
  padding-top: 18rem;
  background: url(/images/background5.png);
  /* height: 85%; */
  width: 100%;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}


.showcase .inner {
    background-color: #1F3948;
    color: #F9F9F9;
    margin-bottom: 6em;
    /* margin-top: 16rem; */
    /* padding: 5rem 5rem 5rem 3rem; */
    /* position: relative; */
    /* width: 100%; */
    z-index: 2;
    width: 80rem;
    height: 50rem;
    padding: 10rem;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.project-info-wrap {
  /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 1rem;
} 
.project-descrp {
  width: 55rem;
}
/* .project-info-wrap {
  margin: 0 auto;
} */


.hp-solution {
    width: 47.5rem;
    height: 35.8rem;
}
/* .project-image1 {
    padding: 5rem 3rem 2rem 3rem;
    width: 80%;
}  */


/* -----------------------ABOUT------------------------- */
/* -----------------------ABOUT------------------------- */
/* -----------------------ABOUT------------------------- */

.hero > h1 {
/* text-align: left; */
width: 100%;

}


.hero-wrap {
  margin-top: 15rem;
}

/* .mobile-dots  {
    top: 93rem; 
} */
/* .arrow {
  display: none;
} */

/* .essay > div {
  margin-top: 12.5rem;
} */

.aboutme {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.container2 {
    width: 75%;
}

.header1 > h1 {
    margin-top: 15rem;
}
/* -----------------------HEALTHPOINT------------------------- */
/* -----------------------HEALTHPOINT------------------------- */
/* -----------------------HEALTHPOINT------------------------- */

.hp-logo {
  margin-top: 2rem;
  width: 50%;
}

.slogan {
  max-width: 40%;
}
.dots-bg {
  background: url("../images/1440Dots.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 5rem 0;
  position: relative;
  z-index: 2;
} 

.hero-cs-image {
 text-align: center;
} 


.mobile-cs-image {
  width: 75%;

}

.solution {
  margin-top: 6rem;
}

.solution-screens {
  width: 65%;
}

.background-color-bg {
  height: 30.5%;
 
}


/* Survey Results */
.survey {
  margin: 5rem auto 1rem auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-template-areas:
  "box1 box2 box3"
  "box4 box5 box6" 
}

.box1, .box2, .box3, .box4, .box5, .box6 {
  height: 17rem;
  width: 17rem;
}

.data > h3 {
  font-size: 4.2rem;
}

.data-descrp > p {
  font-size: 1.3rem;
}

.box-content4 {
  padding: 2rem;
}

.box-content5 {
  padding: 1rem 0 0 1.1rem;
}


.audience > p {
  margin-top: -15rem;
}


.takeaway-p > p {
    margin-top: 2rem;
}

.project-info-divider {
  width: 75%;
}

.comp {
  margin: 0 auto 7rem auto;
}

/* Personas */

.persona-grid {
  grid-gap: 1rem;
}

.persona {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas: 
  "image-border persona-name"
  "image-border persona-list"
  "persona-descrp persona-descrp"
}

.image-border > img {
  border-radius: 6.5rem;
  margin: 4.1rem auto -2rem 2rem;
}

.persona-name {
  text-align: left;
  grid-area: persona-name
}

.persona-descrp {
  grid-area: persona-descrp;
}

.image-border {
  grid-area: image-border;
}

.intro-persona1 {
  margin: 7rem 7rem 0 0;
}

.intro-persona2 {
  margin: 7rem 10rem 0 0;
}

.persona-list {
  text-align: left;
  margin: 1rem auto;
}

.persona-descrp {
  margin-top: -3rem;
  margin-bottom: -3rem;
  padding: 6rem;
}

.persona-outer2 {
  margin-top: 2rem;
}

/* User Stories */

.type-of-stories > p {
  margin: 3rem auto;
}
/* Branding */

.branding-identity > div > .branding {
  margin-top: 10rem;
}

/* Logo */

.hp-dark-bg {
  margin-top: 5rem;
}

.sketchbg {
  height: 35rem;
}

.darkbglogo, .lightbglogo {
  max-width: 60%
}
/* Color Palette */

.color-palette1, .color-palette2 {
  width: 40rem;
}

.color-palette1 {
    margin: 3.5rem auto 2rem auto;
    grid-template-areas:
    "color1 color2"
    "color3 color4";
}
.color-palette2 {
    margin: 6rem auto 2rem auto;
    grid-template-areas:
    "color5 color6"
    "color7 color7";
    }

.color1, .color2, .color3, .color4, .color5, .color6, .color7 {
  height: 15rem;
  width: 15rem;
}

.color-type {
  margin-top: 15rem;
}

.color-descrp {
  margin: 8rem auto 5.8rem auto;
}

/* Typography */

.typo-explain {
  margin: 70rem auto 0 auto;
}


.font-descrp {
  width: 60%;
}

/* .font-container2 .font-descrp {
  width: 60%;
} */

/* Wireframes */

.wireframesketches {
  max-width: 70%;
}

.wireframes-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.welcomepage-lofi-wireframe {
  margin: 0 -6rem;
}

.lofi-activity-dash, .lofi-signup, .lofi-dashboard {
  width: 70%;
  height: auto;
}


.usability-wrap {
  margin: 4rem auto;
  width: 60%;
}
/* 
.caption {
  width: 80%;
} */


/* Preference */

.pref1image, .pref2image {
   width: 85%;
   /* margin: 0 6rem; */
}

.preference-images > .pref1 > .caption, .preference-images > .pref2 > .caption {
    /* width: 60%; */
}

.final-maindashboard {
  margin-top: 3rem;
}

.reflections-descrp {
  margin-top: 5rem;
}

.back-to-top {
  margin-top: 6rem;
}

.maindashboard-image, .analytics-final, .goals-image-phone {
  width: 45%;
  height: auto;
}
}

/* IPAD */

@media screen and (min-width: 750px) {


h1 {
  font-size: 7.2rem;
}

}



/*---------------------- For Desktop---------------------*/
/*---------------------- For Desktop---------------------*/
/*---------------------- For Desktop---------------------*/

@media screen and (min-width: 991px) {


.desktop-menu {
    width: 93%;
}

.project-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /* width: 95%; */
}

.project-info-wrap {
    margin-left: -2rem;
}

.project-title > h2 {
  padding-top: 1rem;
    font-size: 5.2rem;
}
.project-descrp {
    width: 50rem;
    padding-top: 2rem;
    margin-right: 4rem;
}


.hp-solution {
    width: 48.5rem;
    height: 36rem;
}
/* Footer */

.sync-up > p {
  width: 30%;
}

/* ------------------------ABOUT ME ---------------------*/
/* ------------------------ABOUT ME ---------------------*/
/* ------------------------ABOUT ME ---------------------*/

.bio {
  display: grid;
  margin-bottom: 7rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "bio essay"
}
.container2 {
  width: 90%;
}


.me {
  display: none;
}

.desktop-me {
  display: inline-block;
  padding-top: 5rem;
  width: 85%;
}


.mobile-dots {
  display: none;
}

.arrow {
  display: none;
}

.essay > div {
  margin-top: 10rem;
}


.hero {
  padding-left: 5rem;
}

.aboutme {
  padding-bottom: 5rem;
  padding-right: 4rem;
}


/* -----------------------HEALTHPOINT------------------------- */
/* -----------------------HEALTHPOINT------------------------- */
/* -----------------------HEALTHPOINT------------------------- */

.slogan {
  display: none;
}
.mobile-cs-image {
  display:none;
}

.desktop-solution {
  display: inline;
}
.hp-logo {
  width: 35%;
}

.hero-hp .hp-header {
  margin-top: 15rem;
}

.container {
  width: 50%;
}

/* Project Roles */

.project-info-container .project-info-divider {
  margin: 4rem -7rem 0 -7rem;
  transform: rotate(90deg);
  width: 25rem;
}

.roles-info, .tools-info, .deliverables-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deliverables-descrp {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-column-gap: 5rem;
  grid-template-areas: 
  "left-list right-list";
}

.project-info-container {
  display: grid;
  margin: 0 auto 9rem auto;
  justify-content: center;
  align-items: center;
  grid-template-areas:
  "roles-info line-1 deliverables-info line2 tools-info";
}

.roles {
  grid-area: roles;
}

.roles-descrp {
  grid-area: roles-descrp;
}

.line-1 {
  grid-area: line-1;
}

.deliverables-info {
  grid-area: deliverables-info;
  margin-top: 3rem;
}

.line2 {
  grid-area: line2;
}

.tools {
  grid-area: tools;
}

.design-tools {
  grid-area: design-tools;
}

.challenge > h3, .solution > h3 {
  font-size: 2.8rem;
}

/* Solution */

.solution-screens {
  width: 41%;
  height: auto;
}

.background-color-bg {
  height: 45%;
}

.solution-image {
  margin-bottom: 4.5rem;
}

/* Survey */
.survey {
  margin: 3rem auto 1rem auto;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
  height: 24rem;
  width: 24rem;
}

.data > h1 {
  font-size: 4.8rem;
}

.data-descrp > p {
  font-size: 1.8rem;
  text-align: center;
  width: 19rem;
}

.box-content1, .box-content2, .box-content5, .box-content6  {
  padding: 3.3rem 2rem;
}

.box-content3 {
  padding: 2.5rem 2rem;
}

.box-content4 {
  padding: 4rem 2rem;
}

.audience > p {
  margin-top: -23rem;
}
/* Competitive Analysis */

.comp .project-info-divider {
  margin: 4rem -15rem 0 -15rem;
  transform: rotate(90deg);
  width: 36rem;

}

.comp {
    align-items: center;
    display: grid;
    justify-content: center;
    margin: -1rem auto 4rem auto;
    grid-column-gap: 1rem;
    grid-template-areas:
    "google-fit comp-divider1 dropbox-wrap comp-divider2 jefit-wrap";
}

.google-fit, .dropbox-wrap, .jefit-wrap {
    margin-top: 1rem;
    width: 30rem;
}

.comp > .dropbox-wrap > .comp-logo2 > .dropboxlogo {
  margin-top: 6rem;
}

.comp > .jefit-wrap > .comp-logo3 > img {
  margin-top: 5rem;
  margin-bottom: -1.5rem;
}

.googlefitlogo, .jefitlogo, .dropboxlogo{
  height: auto;
  max-width: 65%;
}
/* Personas */

.persona-grid {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 120rem;
    grid-template-areas:
    "persona-outer1 persona-outer2";
}

.persona-outer1, .persona-outer2 {
  border: 0.5rem solid #02547B;
  border-radius: 5rem;
  height: 75rem;
  width: 55rem;
}

.persona-outer2 {
  margin-top: -0.5rem;
  margin-right: 3rem;
}

.image-border > img {
  margin: 4.1rem auto -2rem 4rem;
}

.persona-list {
  margin-top: 1rem;
  margin-right: 3rem;
}

.persona-descrp {
  margin-top: -3rem;
  margin-bottom: -3rem;
  padding: 6rem 8rem;
}

/* User Stories */
.stories {
    display: none;
}

.user-role > .new-users > p, .user-role > .reg-users > p, .user-task > div > p, .user-task > .reg-tasks > p, .user-benefits > div > p, .user-benefits > div > .reg-benefits > p {
    line-height: 225%;
}

.desktop-userstories > div > h5 {
    margin-bottom: 1.5rem;
}

.user-role {
    grid-area: user-role
}

.user-task {
    grid-area: user-task;
}

.user-benefits {
    grid-area: user-benefits;
}
.user-divider1 {
    grid-area: user-divider1;
}

.user-divider2 {
    grid-area: user-divider2;
}

.desktop-userstories {
    align-items: center;
    display: grid;
    justify-content: center;
    margin: 5rem auto 8rem auto;
    /* text-align: center; */
    width: 95%;
    grid-template-areas:
    "user-role user-divider1 user-task user-divider2 user-benefits";
} 

.desktop-userstories .project-info-divider {
  border: 2px solid #02547B;
  margin: 3rem -20rem 0 -20rem;
  width: 45rem;
  transform: rotate(90deg);
}

.user-role > .reg-users, .user-task > .reg-tasks, .user-benefits > div > .reg-benefits {
    margin-top: 2rem;
}


.user-task, .user-benefits {
    padding: 0 1rem;
}


.desktop-userstories > div > div > p, .desktop-userstories > div > div > div > p {
   font-weight: 400;
}

.reg-benefits .break {
  white-space: pre-line;
}

div.user-benefits {
  margin-top: 3.5rem;
}

/* User Flows */

.user-flow-wrap {
    background-color: #1F3948;
    display: block;
    width: 100%;
}

.user-flow > h5 {
    color: #F9F9F9;
    font-weight: 400;
    padding-left: 2.5rem;
    padding-bottom: 5rem;
    text-align: left;
}
.user-flow {
    display: block;
    padding: 5rem;
    text-align: center;
}

.user-flow-image {
  width: 95%;
  height: auto;
}
.user-story-example {
    display: inline;
}

/* Logo Design */


.sketchbg {
  height: 48rem;
  z-index: 1;
}

.logo-wrap {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 12rem;
    position: relative;
    z-index: 2;
}

.darkbglogo, .lightbglogo {
  max-width: 80%;
  height: auto;
}

.lightbglogo {
    margin-top: 20rem;
    padding-left: 3rem;
}


/* Color Palette */

.color-palette1, .color-palette2 {
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr;
   
}

.color-palette1 {
    grid-template-areas: 
    "color1 color2 color3 color4";
    grid-gap: 6rem;
    margin-top: 5rem;
}
.color6, .color5 {
    margin-right: 6rem;
}

.color-palette2 {
    grid-template-areas: 
    "color5 color6 color7";
    width: 55rem;
}

/* Typography */

.font-wrap {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 0 auto;
    width: 50%;
}

.typo-explain {
  margin: 48rem auto 0 auto;
  padding: 3rem;
}
 
.font-container2 {
    margin-right: -5rem;
}

.font-descrp {
  width: 85%;
}

.font-container2 .font-descrp {
  width: 70%;
}

.typo-explain {
  width: 50%;
}

/* Wireframes */

.wireframesketches {
  max-width: 60%;
}

.lofi-activity-dash, .lofi-signup, .lofi-dashboard {
  max-width: 100%;
}

.welcomepage-lofi-wireframe {
  margin: 0 -8rem;
}

/* Usability Take 1 */


.usability-wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4rem auto;
  width: 52%;
}

.caption {
  margin: 1.3rem 0 4rem 2rem;
  /* width: 90%; */
}
.usability1photo {
  padding-right: 2rem;
}

.usability2photo  {
  padding-left: 2rem;
}
/* Preference Testing */

.preference-images {
  flex-direction: row;
  justify-content: space-evenly;
  /* margin: 0 3rem; */

}
.pref1image, .pref2image {
    width: 90%;
}

.pref1image {
  padding-left: 2rem;
}

.pref2image {
  margin-top: 2rem;
}
/* 
.pref1 {
  margin-right: 6rem;
}
.pref2 {
    margin-top: 2rem;
    margin-right: 12rem;
} */

/* .preference-images > .pref1 > .caption, .preference-images > .pref2 > .caption {
  /* margin-right: 6rem; */



/* Usability Take 2 */

.testing-2-images {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4rem;
    text-align: center;
    /* margin-bottom: 3rem; */
    width: 100%;
}

.Round2image2 {
    /* padding-top: 4.5em;
    margin-right: 33rem; */
    padding-left:5rem;
    padding-right: 20rem;
    margin: 0;
    /* text-align: center; */

}
.Round2image1 {
    margin: 0;
    padding-left: 20rem;
    /* margin-left: 33rem; */
}

/* Final Prototype */


.final-descrp1 > p, .final-descrp2 > p, .final-descrp3 > p {
    width: 48rem;
}

.final-descrp1, .final-descrp2, .final-descrp3 {
    border: 5px solid #02547B;
    border-radius: 5rem;
    margin-top: 17rem;
}

.maindashboard-image, .analytics-final, .goals-image-phone {
 width: 30rem;
  height: 61.4rem;
}
.maindashboard-image, .goals-image-phone, .analytics-final{
    position: relative;
    z-index: 4;
}

.maindashboard-image, .goals-image-phone{
  margin-left: -14rem;
  margin-right: 4rem;
}

.analytics-final{
  margin-right: -20rem;
  margin-left: 4rem;
}

.final-descrp1, .final-descrp3 {
    padding: 1rem 8rem 1rem 25em;
    position: absolute;
    z-index: 3;
}

.final-descrp2 {
    padding: 1rem 23rem 1rem 6.5rem;
    position: absolute;
    z-index: 3;
}

.final-maindashboard, .final-goals {
    display: flex;
    flex-direction: row;
}

.final-analytics {
    display: flex;
    flex-direction: row-reverse;
}

.final-images > .final-analytics {
    margin: 8rem 0;
}

.goals-image-phone {
  margin-bottom:10rem;
}

}

/* -----------------VERY LARGE MONITORS---------------- */
/* -----------------VERY LARGE MONITORS---------------- */

@media screen and (min-width: 1440px) { 

.hp-logo {
  max-width: 30%;
}

/* .container {
  width: 50%;
} */
/* .maindashboard-image, .analytics-final, .goals-image-phone {
  max-width: 100%;
  height: auto;
}  */
.wireframesketches {
  max-width: 56%;
}

.color-palette1 {
  width: 50rem;
}
.color-palette2 {
    width: 40rem;
}
.testing-2-images {
    width: 70%;
    /* margin-left: 9rem; */
}

}

/* .Round2image2 {
    padding-top: 4.5em;
    margin-right: 55rem;
}
.Round2image1 {
    margin-top: 6.1rem;
    margin-left: 55rem;
} */
/* .sync-up > p {
  width: 25%;
}


/* Iphone X */
@media screen and (max-width: 375px) {
h1 {
  width: 100%;
}


.container-showcase-bg {
    top: -6rem;
  
}

/* About */



/* HEALTHPOINT */
.background-color-bg {
  height: 21rem;
}


}


/* Galaxy */
@media screen and (max-width: 360px) {


.container-showcase-bg {
    top: -1rem;
  
}

}

/* iPhone SE SIZE: */
@media screen and (max-width: 320px) {

.container {
  max-width: 80%;
}

h1 {
    font-size: 5.2rem;
    font-weight: 500;
}

h2 {
    color: #1F3948;
    font-size: 2.8rem;
    font-weight: 500;
}


h3 {
    font-size: 2.8em; 
}

h4 {
    color: #1F3948;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.0rem;

}

h5 {
    color: #1F3948;
    font-size: 1.8rem;
}

p {
  font-size: 1.6rem;

}

/* ----------------------------HOMEPAGE---------------------------- */
/* ----------------------------HOMEPAGE---------------------------- */
/* ----------------------------HOMEPAGE---------------------------- */


h1 {
  width: 90%;
}


.container-showcase-bg {
    top: -13.7rem;
}

.project-title > h2 {
  font-size: 3.6rem;
}

/*----------------------------- ABOUT ME---------------------------- */
/*----------------------------- ABOUT ME---------------------------- */
/*----------------------------- ABOUT ME---------------------------- */

.mobile-dots  {
    top: 92rem;
}


/*----------------------------- CONTACT--------------------------- */
/*----------------------------- CONTACT--------------------------- */
/*----------------------------- CONTACT--------------------------- */

h1{
  width: 100%;
}


/*----------------------------- HEALTHPOINT---------------------------- */
/*----------------------------- HEALTHPOINT---------------------------- */
/*----------------------------- HEALTHPOINT---------------------------- */
.color1, .color2, .color3, .color4, .color5, .color6, .color7 {
  border-radius: 4rem;
  height: 12rem;
  width: 12rem;
}

/* Survey */

.box1, .box2, .box3, .box4, .box5, .box6 {
  height: 18rem;
  width: 14rem;
}

.data-descrp > p {
  width: 11rem;
}

.box-content1, .box-content2, .box-content4, .box-content5{
  padding: 2rem 1rem;
}


.sketchbg {
  height: 40%;

}

.darkbglogo {
  margin-top: 10rem;
}

.color-type {
  margin-top: 13rem;
}

.lofi-activity-dash, .lofi-signup, .lofi-dashboard {
  width: 55%;
  height: auto;
}

.pref1image, .pref2image {
    width: 90%;
}

.usability1photo, .usability2photo {
  width: 25rem;
}
.pref1image, .pref2image {
  margin: 0 2.7rem;
  width: 84%;
}

.usabilityR2image1, .usabilityR2image2  {
    width: 82%;
   
}
.sync-up > p {
  font-size: 1.2rem;
  padding: 1.7rem 3rem 2rem 3rem;
}


.creator-name {
  font-size: 1.0rem;
  padding: 1.5rem 0;
  text-align: center;
}



}
